{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>

    <script>
         function openFolderTab(categoryId) {
            window.location.href = "/${categoryId}"; 
        }


    </script>

  </head>
  <body>
    {% block content %}
   
    {% if messages %}
      <div class="fixed top-10 left-1/2 transform -translate-x-[50%] w-full max-w-md p-3 z-50" data-aos="fade-down" data-aos-duration="999">
        {% for message in messages %}
        {% if message.tags == 'success' %}
        <div id="alert-3" class="flex items-center p-4 mb-4 text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400" role="alert">
          <svg class="flex-shrink-0 w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
          </svg>
          <span class="sr-only">Info</span>
          <div class="ms-3 text-sm font-medium">
            {{ message }} 
          </div>
          <button type="button" class="ms-auto -mx-1.5 -my-1.5 bg-green-50 text-green-500 rounded-lg focus:ring-2 focus:ring-green-400 p-1.5 hover:bg-green-200 inline-flex items-center justify-center h-8 w-8 dark:bg-gray-800 dark:text-green-400 dark:hover:bg-gray-700" data-dismiss-target="#alert-3" aria-label="Close">
            <span class="sr-only">Close</span>
            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
            </svg>
          </button>
        </div>
        {% endif %}
        {% endfor %}
      </div>
    {% endif %}

    <!-- Navbar and Sidebar -->
    {% include 'dashboard/components/navbar_dashboard.html' %}
    {% include 'dashboard/components/sidebar_dashboard.html' %}

    <!-- Main content -->
    <div class="p-4 sm:ml-64 h-screen mt-14 ">

      <div class="border-div h-screen border border-gray-200 p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700 ">


         <div id="add-room-popup" class=" hidden fixed inset-0 z-50  bg-black bg-opacity-50 text-slate-50" >
            <div class="flex items-center justify-center h-full">
                <div class="bg-white rounded-lg p-6 w-2/5 h-2/6">
                    <!-- <span id="close-popup" class="cursor-pointer text-black float-right">&times; <a href="{% url 'dashboard'%}"></a></span> -->
                    <h2 class="text-xl font-bold">Create category</h2>
                    <p class="mt-2 ">Here you can add your new category details.</p>

                    <form method="POST" class="p-5">
                      {% csrf_token %}
                      
                      <div class="form-group relative my-5">
                          <!-- <label for="id_name">Name</label>
                          <input type="text" name="name" id="id_name" maxlength="50" required placeholder="Enter category name" class="custom-name-input"> -->
                          <input type="text"name="name" id="id_name" maxlength="50" class="block rounded-t-lg px-2.5 pb-2.5 pt-5 w-full text-sm text-gray-900 bg-gray-50 dark:bg-gray-700 border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" "  required />
                          <label for="id_name" class="custom-name-input absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] start-2.5 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto">Name</label>
                      </div>
                  
                      <div class="form-group relative flex my-5 gap-5">
                          <label for="id_color" class="">Pick A Color</label>
                          <input type="color" name="color" id="id_color" class="custom-color-input cursor-pointer">
                      </div>

                      <div class="button-div flex justify-end">


                      
                      <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Create</button>

                      <button type="button" class="py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"><a href="{% url 'dashboard' %}">Cancel</a></button>
                    </div>

                     
                  </form>
                  
                    <!-- Add more input fields or content as needed -->
                </div>
            </div>
        </div>

        <p>TEST</p>

        <!-- <div class="w-full grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">

        

  
          {% for c in categories %}
          


          <div onclick="openCategory({{c.id}})" class="cursor-pointer h-72  bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 hover:shadow-lg " >

          


          
            <div class="p-5 rounded-t-lg shadow-inner" style="background-color: {{c.color}};">
              <div class="header h-20">
                <a href="">
                  <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{c.name}}</h5>
              </a>
              </div>
               
               
               
            </div>
              <div class="body p-5 ">
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">LINKS</p>

              </div>
        </div>
        
          {% empty %}
            <p>No Category</p>
          {% endfor %}
     
        </div> -->

        </div>
    </div>


    </div>

    {% endblock %}
  </body>
</html>
