{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
  </head>
  <body>
    {% block content %} 
    
    {% include 'dashboard/components/navbar_dashboard.html' %}

    {% include 'dashboard/components/sidebar_dashboard.html' %}

    <div class="p-4 sm:ml-64">
      <div
        class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700 mt-14"
      >
        <h1 class="font-bold">Personal Links</h1>
      </div>
    </div>

    {% endblock %}
  </body>
</html>
