{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>

    

  </head>
  <body>
    {% block content %}
   
    {% if messages %}
      <div class="fixed top-10 left-1/2 transform -translate-x-[50%] w-full max-w-md p-3 z-50" data-aos="fade-down" data-aos-duration="999">
        {% for message in messages %}
        {% if message.tags == 'success' %}
        <div id="alert-3" class="flex items-center p-4 mb-4 text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400" role="alert">
          <svg class="flex-shrink-0 w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
          </svg>
          <span class="sr-only">Info</span>
          <div class="ms-3 text-sm font-medium">
            {{ message }} 
          </div>
          <button type="button" class="ms-auto -mx-1.5 -my-1.5 bg-green-50 text-green-500 rounded-lg focus:ring-2 focus:ring-green-400 p-1.5 hover:bg-green-200 inline-flex items-center justify-center h-8 w-8 dark:bg-gray-800 dark:text-green-400 dark:hover:bg-gray-700" data-dismiss-target="#alert-3" aria-label="Close">
            <span class="sr-only">Close</span>
            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
            </svg>
          </button>
        </div>
        {% endif %}
        {% endfor %}
      </div>
    {% endif %}

    <!-- Navbar and Sidebar -->
    {% include 'dashboard/components/navbar_dashboard.html' %}
    {% include 'dashboard/components/sidebar_dashboard.html' %}

    <!-- Main content -->
    <div class="p-4 sm:ml-64 h-screen mt-14 ">

      <div class="border-div h-screen border border-gray-200 p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700 ">


         <div id="add-room-popup" class=" hidden fixed inset-0 z-50  bg-black bg-opacity-50 text-slate-50" >
            <div class="flex items-center justify-center h-full">
                <div class="bg-white rounded-lg p-6 w-2/5 h-2/6">
                    <!-- <span id="close-popup" class="cursor-pointer text-black float-right">&times; <a href="{% url 'dashboard'%}"></a></span> -->
                    <h2 class="text-xl font-bold">Create category</h2>
                    <p class="mt-2 ">Here you can add your new category details.</p>

                    <form method="POST" class="p-5">
                      {% csrf_token %}
                      
                      <div class="form-group relative my-5">
                          <!-- <label for="id_name">Name</label>
                          <input type="text" name="name" id="id_name" maxlength="50" required placeholder="Enter category name" class="custom-name-input"> -->
                          <input type="text"name="name" id="id_name" maxlength="50" class="block rounded-t-lg px-2.5 pb-2.5 pt-5 w-full text-sm text-gray-900 bg-gray-50 dark:bg-gray-700 border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" "  required />
                          <label for="id_name" class="custom-name-input absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] start-2.5 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto">Name</label>
                      </div>
                  
                      <div class="form-group relative flex my-5 gap-5">
                          <label id="color_label" for="id_color" class="color-text">Pick A Color</label>
                          <input type="hidden" name="color" id="id_color" class="custom-color-input cursor-pointer">
                          <div onclick="selectColor('#FF0000')" class="w-8 h-8 bg-red-500 rounded-full cursor-pointer" style="background-color: #FF0000;"></div>
                          <div onclick="selectColor('#0000FF')" class="w-8 h-8 bg-blue-500 rounded-full cursor-pointer" style="background-color: #0000FF;"></div>
                          <div onclick="selectColor('#008000')" class="w-8 h-8 bg-green-500 rounded-full cursor-pointer" style="background-color: #008000;"></div>
                          <div onclick="selectColor('#FFD700')" class="w-8 h-8 bg-yellow-500 rounded-full cursor-pointer" style="background-color: #FFD700;"></div>
                          <div onclick="selectColor('#800080')" class="w-8 h-8 bg-purple-500 rounded-full cursor-pointer" style="background-color: #800080;"></div>
                          <div onclick="selectColor('#FF8C00')" class="w-8 h-8 bg-orange-500 rounded-full cursor-pointer" style="background-color: #FF8C00;"></div>
                          <div onclick="selectColor('#008080')" class="w-8 h-8 bg-teal-500 rounded-full cursor-pointer" style="background-color: #008080;"></div>
                      </div>
                      

                      <div class="button-div flex justify-end">


                      
                      <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Create</button>

                      <button type="button" class="py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"><a href="{% url 'dashboard' %}">Cancel</a></button>
                    </div>

                     
                  </form>
                  
                    <!-- Add more input fields or content as needed -->
                </div>
            </div>
        </div>


        {% if categories %}
        <!-- Grid layout if categories exist -->
        <div class="w-full grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
          {% for c in categories %}
            <div onclick="openCategory({{ c.categoryID }})" class="cursor-pointer h-72 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 hover:shadow-lg">
              <div class="p-5 rounded-t-lg shadow-inner relative" style="background-color: {{c.color}};">
                <div class="absolute inset-0 bg-cover bg-right opacity-50 rounded-t-lg"
                     style="background-image: url('{% static 'images/dashboard/nesty-bg.png' %}');"></div>
                
                <!-- Content goes here, positioned above the background -->
                <a>
                    <h5 class="relative mb-2 text-2xl font-bold tracking-tight text-white">{{ c.name }}</h5>
                </a>
            </div>
            
              <div class="body p-5 "">
                {% for f in folders|slice:":10" %}
                  {% if f.categoryID_id == c.categoryID %}
                    <div class="flex items-center gap-2 transition ease-in hover:bg-gray-200 ">
                      <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" viewBox="0 0 24 24">
                        <path fill="currentColor" d="M4 18V6v13zm0 2q-.825 0-1.412-.587T2 18V6q0-.825.588-1.412T4 4h6l2 2h8q.825 0 1.413.588T22 8v5h-2V8h-8.825l-2-2H4v12h5v2zm10.6 2.6L11 19l3.6-3.6l1.4 1.425L13.825 19L16 21.175zm4.8 0L18 21.175L20.175 19L18 16.825l1.4-1.425L23 19z"/>
                      </svg>
                      <a class="font-normal text-gray-700 dark:text-gray-400">{{ f.title }}</a>
                    </div>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
          {% endfor %}
        </div>
      {% else %}
        <!-- Centered empty page if no categories -->
        <div class="empty-page flex mt-56 flex-col items-center justify-center">
          <div class="empty-content text-center bg-[#b6e5ff]">
            <img class="h-72 w-full" src="{% static 'images/dashboard/nesty_empty.png' %}" alt="Dashboard Image">
            <h1 class="font-bold text-center text-5xl mb-2">No Category</h1>
            <p class="text-md">Create new category and start organizing now.</p>
          </div>
        </div>
      {% endif %}
      
        </div>
    </div>


    </div>

    <script>
      function openCategory(id) {
        window.location.href = `/user/dashboard/${id}/`;
     }

      function selectColor(color) {
      
        document.getElementById('id_color').value = color; // Set hidden input value
        document.getElementById('color_label').style.color = color;
    }

    </script>

    {% endblock %}
  </body>
</html>
